{% extends 'base.html.twig' %}

{% block title %}Hello FileUploadController!{% endblock %}

{% block body %}
<form action="{{ url('file_upload_post') }}" method="post" enctype="multipart/form-data">
    <div>Slack Json vagy Zip export file, max 8 MB:</div>
    <div><input type="file" name="fileToUpload" id="fileToUpload"></div>
    <div><input type="submit" value="Upload" name="submit"></div>
</form>
{% endblock %}
